<div id="modalAdd" class="modal">
    <div class="modal-content" style="width: 600px;">
        <div class="modal-header">
            <h3>Thêm nhà cung cấp mới</h3>
            <span class="close" onclick="closeModal('modalAdd')">&times;</span>
        </div>
        <div class="form-body">
            <div class="input-group">
                <label>Tên nhà cung cấp <span style="color:red">*</span></label>
                <input type="text" placeholder="Nhập tên nhà cung cấp">
            </div>
            <div class="input-group" style="margin-top: 15px;">
                <label>Số điện thoại <span style="color:red">*</span></label>
                <input type="text" placeholder="Nhập số điện thoại">
            </div>
            <div class="input-group" style="margin-top: 15px;">
                <label>Địa chỉ <span style="color:red">*</span></label>
                <input type="text" placeholder="Nhập địa chỉ">
            </div>
        </div>
        <div style="display: flex; justify-content: flex-end; gap: 15px; margin-top: 30px;">
            <button class="btn-no" onclick="closeModal('modalAdd')">Hủy</button>
            <button class="btn-yes" style="background-color: #003366;">Lưu</button>
        </div>
    </div>
</div>