<div id="modalEdit" class="modal">
    <div class="modal-content" style="width: 600px;">
        <form method="POST" action="" id="editNccForm">
            {% csrf_token %}
            <div class="modal-header">
                <h3>Sửa nhà cung cấp</h3>
                <span class="close" onclick="closeModal('modalEdit')">&times;</span>
            </div>
            <div class="form-body">
                <div class="input-group">
                    <label>Tên nhà cung cấp <span style="color:red">*</span></label>
                    <input type="text" name="ten" id="edit_ten" required>
                </div>
                <div class="input-group" style="margin-top: 15px;">
                    <label>Số điện thoại <span style="color:red">*</span></label>
                    <input type="text" name="sdt" id="edit_sdt" required>
                </div>
                <div class="input-group" style="margin-top: 15px;">
                    <label>Địa chỉ <span style="color:red">*</span></label>
                    <input type="text" name="dchi" id="edit_dchi" required>
                </div>
            </div>
            <div style="display: flex; justify-content: flex-end; gap: 15px; margin-top: 30px;">
                <button type="button" class="btn-no" onclick="closeModal('modalEdit')">Hủy</button>
                <button type="submit" class="btn-yes" style="background-color: #003366;">Lưu</button>
            </div>
        </form>
    </div>
</div>