<div id="modalEdit" class="modal">
    <div class="modal-content" style="width: 600px;">
        <div class="modal-header">
            <h3>Sửa nhà cung cấp</h3>
            <span class="close" onclick="closeModal('modalEdit')">&times;</span>
        </div>
        <div class="form-body">
            <div class="input-group">
                <label>Tên nhà cung cấp <span style="color:red">*</span></label>
                <input type="text" value="Puma">
            </div>
            <div class="input-group" style="margin-top: 15px;">
                <label>Số điện thoại <span style="color:red">*</span></label>
                <input type="text" value="0987123654">
            </div>
            <div class="input-group" style="margin-top: 15px;">
                <label>Địa chỉ <span style="color:red">*</span></label>
                <input type="text" value="Tân Bình, TP.HCM">
            </div>
        </div>
        <div style="display: flex; justify-content: flex-end; gap: 15px; margin-top: 30px;">
            <button class="btn-no" onclick="closeModal('modalEdit')">Hủy</button>
            <button class="btn-yes" style="background-color: #003366;">Lưu</button>
        </div>
    </div>
</div>